.header {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
  color: #222;
}

.header h2 {
  margin: 0 0 10px;
  font-size: 32px;
}

.header p {
  margin: 0;
  font-size: 18px;
}